{% extends 'base.html' %}

{% block title %}
  게시글 자세히보기
{% endblock %}

{% block content %}
  <div class="container timeline-container">
    <div class="row">
      <!-- 오른 쪽 컬럼-->
      <div class="col-md-7">
        <div class="row">
          <div class="col-md-12 mb-2">
            <div class="card">
              <div class="card-body">
                {% if my_commit_.writer == user %}
                  <div style="text-align: right"></div>
                {% endif %}
                <div class="media">
                  <div class="media-bod">
                    <h5 class="mt-0">{{ my_commit_.content }}</h5>
                  </div>
                  <div style="text-align: right">
                    <span style="font-size: small">{{ my_commit_.writer.username }}
                      -
                      {{my_commit_.created_at|timesince }}
                      전</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 글 작성 하는 곳 -->
        <form class="input-group mb-3" action="/detail/comment/{{ my_commit_.id }}" method="post">
          {% csrf_token %}
          <input type="text" class="form-control" id='comment' name='comment' placeholder="댓글을 작성 해 주세요"/>
          <button class="btn btn-outline-secondary" type="submit">작성</button>
        </form>
        {% if messages %}
          {% for message in messages %}
            <div{% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %}>{{ message }}
            </div>
          {% endfor %}
        {% endif %}
        <hr>
        <!-- 반복문이 들어 갈 곳 -->
        {% for cm in comment %}
          <div class="row">
            <div class="col-md-12">
              <div class="media">
                <div class="media-body">
                  <h5 class="mt-0">
                    {{ cm.comment }}
                  </h5>
                  <span>
                    {{ cm.author }}
                  </span>
                  <span>
                    {{cm.writer}}
                    -
                    {{ cm.created_at | timesince }}
                    전</span>
                </div>
                {% if cm.writer == user %}
                  <div style="float: right">
                    <a href="/detail/comment/delete/{{ cm.id }}">
                      <span class="badge bg-danger">삭제</span>
                    </a>
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
          <hr>
        {% endfor %}
        <!-- 반복문이 끝난 곳 -->
      </div>
    </div>
  </div>
{% endblock %}