{% extends 'base.html' %}

{% block title %}Co.Meet ⎜ Write{% endblock %}

{% block content %}
  <div class="board_wrap">
    <div class="board_title">
      <strong>글쓰기</strong>
    </div>
    <div class="board_write_wrap">
      <div class="board_write">
        <form action="/write/" method="post">
          {% csrf_token %}
          <div class="select_cate">
            <select name="category" id="category" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
              <option selected>카테고리 선택</option>
              <option value="유머">유머</option>
              <option value="정보">정보</option>
              <option value="비밀">비밀</option>
            </select>
          </div>
          <div class="title">
            <textarea name='my-title' id="my-title" placeholder="제목을 입력하세요"></textarea>
          </div>
          <div class="cont">
            <textarea name='my-content' id="my-content" placeholder="내용을 입력하세요"></textarea>
          </div>
          <button type="submit" class="bt_submit">작성하기</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
