{% extends 'base.html' %}

{% block title %}Co.Meet ⎜ Write{% endblock %}

{% block content %}
  <div class="board_wrap">
    <div class="board_title">
      <strong>글쓰기</strong>
    </div>
    <div class="board_write_wrap">
      <div class="board_write">
        <form action="/write/" method="post">
          {% csrf_token %}
          <div class="title">
            <textarea name='my-title' id="my-title" placeholder="제목을 입력하세요"></textarea>
          </div>
          <div class="cont">
            <textarea name='my-content' id="my-content" placeholder="내용을 입력하세요"></textarea>
          </div>
          <button type="submit" class="bt_submit">작성하기</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
