@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: light;
  font-style: light;
}

@font-face {
  font-family: 'establishRetrosansOTF';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/establishRetrosansOTF.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Kanginhan';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/naverfont_07@1.0/Kanginhan.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TTTogether';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/TTTogetherA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'twaysky';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twaysky.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'twayair';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twayair.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'twayfly';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twayfly.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SBAggroB';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KORAILCondensed-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KORAILCondensed-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ansungtangmyun-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/Ansungtangmyun-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

header {
  background-color: #efe3ff;
  width: 100%;
  height: 100%;
  display: flex;

}

.container {
  max-width: none !important;
  width: 1100px;
  padding-bottom: 30px;
  padding-top: 10px;
  border-bottom: 2px solid #ddd;
  text-shadow: #FC0 1px 0 10px;

}

.co_base {
  font-family: 'Kanginhan';
  font-size: 8rem;
  color: red;
}

.meet_base {
  color: rgb(0, 0, 0);
  font-family: 'Ansungtangmyun-Bold';
  font-size: 5rem;
}

.head_title {
  font-family: 'GmarketSansMedium';

  color: #222;
  font-weight: light;
  font-style: light;
  font-size: 30px;
  background-color: aqua;
  text-decoration: none;

  cursor: pointer;
  display: block;
  width: 150px;
  height: 50px;
  padding: 0.5rem 0;

}

.col-xs-8>form>input {
  margin-top: 10px;
  border-bottom: 1px solid #000;
  border-radius: 5px;

}

header #right-search-form {
  padding: 0.5rem 0;
  display: inline-block;
}

.col-xs-8 a img {
  height: 40px;
  float: right;
  padding: 0.5rem 0;
}

.title-center {
  text-align: center;
  margin-top: 50px;
}

.wrap {
  width: 400px;
  margin: 0 auto;
}

.form-area {
  margin-top: 25px;
}

.timeline-container {
  margin-top: 25px;
}

.logout {
  padding-left: 20px;
}

.container form ul {
  font-size: 2rem;
}

nav img {
  height: 30px;
}

.dropdown>ul>li {
  text-decoration: none;
}

.footer {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: smaller;
  margin-top: 10px;
  width: 100%;
  height: 40px;
  bottom: 0px;
}

.copyright {
  padding-bottom: 10px;
}

.sco {
  font-family: 'Kanginhan';
  font-size: 3rem;
  color: red;
}

.smeet {
  color: rgb(0, 0, 0);
  font-family: 'Ansungtangmyun-Bold';
  font-size: 2rem;
}