/* 로그인 화면 */
@font-face {
    font-family: 'Kanginhan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/naverfont_07@1.0/Kanginhan.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: light;
    font-style: light;
}


section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;


    /* 페이지 백그라운드 넣고 싶을 때 사용하기 */
    /* background: url()no-repeat;
    background-position: center;
    background-size: cover; */
}

.form-box {
    position: relative;
    width: 400px;
    height: 450px;
    background: transparent;
    border: 2px solid black;
    border-radius: 20px;
    /* backdrop-filter: blur(15px); */
    /* 페이지 백그라운드 넣었을 때 사용 */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px, 5px, 5px;
    padding-bottom: 60px;
}

/* 로고전체 묵는태그 -- a태그로 바꾸어서 class이름 부여함 */
.login_logo {
    font-size: 2em;
    color: black;
    text-decoration: none;
    text-align: center;
}

.co {
    font-family: 'Kanginhan';
    font-size: 3em;
    color: red;
}

.meet {
    font-family: 'GmarketSansMedium';
    font-size: 1.5em;
}

.inputbox {
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid black;
    font-family: 'GmarketSansMedium'
}

.inputbox label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: black;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
    /* 로그인 애니메이션 효과 */
}

/* 로그인 애니메이션 효과  */
input:focus~label {
    top: -5px;
}

input:valid~label {
    top: -5px;
}

.inputbox input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color: black;
}

.forget {
    margin: -14px 0 15px;
    font-size: .9em;
    color: black;
    display: flex;
    justify-content: center;
    font-family: 'GmarketSansMedium'
}

.forget label input {
    margin-right: 3px;
}

.forget label a {
    color: black;
    text-decoration: none;
}

.forget label a:hover {
    text-decoration: underline;
    /* forget password 부분 밑줄 호버기능 */
}

button {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    outline: none;
    cursor: pointer;
    /* 올렸을 때 커서 포인터로 바꾸기 */
    font-size: 1em;
    font-weight: 600;
}

.log {
    margin-bottom: 5px;
    font-family: 'GmarketSansMedium'
}

.sign {
    margin-top: 5px;
    font-family: 'GmarketSansMedium'
}

.register {
    font-size: .9em;
    color: black;
    text-align: center;
    margin: 25px 0 10px;
    font-family: 'GmarketSansMedium'
}

.register p a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.register p a:hover {
    text-decoration: underline
        /* Register 부분 밑줄 호버 */
}